@{
    <h2>Sensor Data Form</h2>
    <form method="post">
        <label>ID Room:</label><br />
        <input type="number" name="ID" /><br />
        <label>Temperature Sensor:</label><br />
        <input type="number" name="Temp_Sensor" /><br />
        <label>Humid Sensor:</label><br />
        <input type="number" name="Humid_Sensor" /><br />
        <label>Motion Sensor:</label><br />
        <input type="number" name="Motion_Sensor" /><br />
        <label>Light Sensor:</label><br />
        <input type="number" name="Light_sensor" /><br />
        <label>CO Sensor:</label><br />
        <input type="number" name="CO_Sensor" /><br />
        <label>Date Time: YYYY-MM-DD HH:MM:SS</label><br />
        <input type="datetime" name="Data_Time" /><br />
        <input type="submit" value="Send" />
    </form>
}
